<div>
  <nav style="background-color: #01579B;height: 40px;">
    <p style="color: white; font-size: 18px;font-weight: 600; padding-left: 10px;padding-top: 7px;" href="#">Piyush Patel CRUD Operations
    </p>
    <div style="padding-bottom: 10px; padding-left: 10px;">
      <!-- <button type="button" class="btn btn-primary" routerLink="signup"
        style="font-size: 15px;background-color: rgb(202, 197, 197); border-radius: 20px; margin-right: 8px;border-color: black;color: black;">Signup</button> -->
<!-- 
      <button type="button" class="btn btn-primary" routerLink="login"
        style="font-size: 15px;background-color:rgb(202, 197, 197); border-radius: 20px;border-color: black;color: black;">Login</button> -->
    </div>
  </nav>
</div>
<router-outlet></router-outlet>>